@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-top:15%">André Saavedra</h1>
    <p>Bem-vindo ao meu site pessoal.</p>
    <p>Registe-se para ver o meu  curriculum</p>
</div>
